<nav class="topbar">
    <ul class="logo"><a href="/">RoClans</a></ul>
    <ul class="toplinks">
        <a href="/">Forts</a>
        <a href="/community">Community</a>
        <a href="/resources">Resources</a>
    </ul>
</nav>